<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IncercareDeProiectBD.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=193.226.51.37:1521/o11g;TNS_ADMIN=C:\Users\petri\Oracle\network\admin;PASSWORD=adriangeorge#21;PERSIST SECURITY INFO=True;USER ID=ADRIANGEORGELEVENTIU"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>